
@import "lessvar.less";


body {
  color: @text-color;
  text-align: center;
  background-color: lighten(@base-color,42%);
}

table {
  background-color: lighten(@base-color,35%);
  color: @base-color;
  .border-radius-round();
  .box-shadow(15px, 20px, 10px, gray);
  &:hover {
    color: white;
  }

}

.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: 5px @radius 5px;
  -moz-border-radius: 5px @radius 5px;
  border-radius: 5px @radius 5px;
}

.border-radius-round (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

#mypar2 {
  border: 1px solid olive;
  .border-radius(25px);
  background-color: lighten(olive,10%);
}

#mypar2:after {
  content: @myStringVar;
}

#mypar1 {
  font-size: @myfontsize;
  border: @thinBoredr;
  padding: @paddingVar;
  .border-radius-round(20px);
}

